<?xml version="1.0" encoding="UTF-8" ?>
<Server version="8">
  <Name>OvenMediaEngine</Name>
  <Type>origin</Type>
  <IP>*</IP>
  <PrivacyProtection>true</PrivacyProtection>
  <StunServer>stun.ovenmediaengine.com:13478</StunServer>
  <Modules>
    <HTTP2><Enable>true</Enable></HTTP2>
    <LLHLS><Enable>true</Enable></LLHLS>
    <P2P><Enable>false</Enable></P2P>
  </Modules>
  <Bind>
    <Managers>
      <API><Port>8081</Port><WorkerCount>1</WorkerCount></API>
    </Managers>
    <Providers>
      <SRT><Port>9999</Port><WorkerCount>4</WorkerCount></SRT>
    </Providers>
    <Publishers>
      <LLHLS><Port>3334</Port><WorkerCount>4</WorkerCount></LLHLS>
    </Publishers>
  </Bind>
  <Managers>
    <API><AccessToken>10ff44edae94b3d1c1c25490bae3da92602a5280a93b262084b166ba7410264b</AccessToken></API>
  </Managers>
  <Defaults>
    <CrossDomains><Url>*</Url></CrossDomains>
  </Defaults>
  <VirtualHosts>
    <VirtualHost>
      <Name>default</Name>
      <Distribution>aboodfull2.site</Distribution>
      <Host><Names><Name>*</Name></Names></Host>
      <AdmissionWebhooks>
        <ControlServerUrl>http://127.0.0.1:9999/api/ome/webhook</ControlServerUrl>
        <Timeout>3000</Timeout>
      </AdmissionWebhooks>
      <Applications>
        <Application>
          <Name>app</Name>
          <Type>live</Type>
          <OutputProfiles>
            <OutputProfile>
              <Name>default_profile</Name>
              <OutputStreamName>stream</OutputStreamName>
              <Playlist>
                <Name>default</Name>
                <FileName>master</FileName>
                <Options>
                  <HLSChunklistPathDepth>0</HLSChunklistPathDepth>
                  <EnableTsPackaging>true</EnableTsPackaging>
                </Options>
                <RenditionTemplate>
                  <Name>${Height}p</Name>
                  <VideoTemplate><EncodingType>all</EncodingType></VideoTemplate>
                  <AudioTemplate><EncodingType>all</EncodingType></AudioTemplate>
                </RenditionTemplate>
              </Playlist>
              <Encodes>
                <Video><Name>bypass_video</Name><Bypass>true</Bypass></Video>
                <Audio><Name>aac_audio</Name><Codec>aac</Codec><Bitrate>192000</Bitrate><Samplerate>48000</Samplerate><Channel>2</Channel><BypassIfMatch><Codec>eq</Codec></BypassIfMatch></Audio>
              </Encodes>
            </OutputProfile>
          </OutputProfiles>
          <Providers>
            <SRT />
          </Providers>
          <Publishers>
            <AppWorkerCount>8</AppWorkerCount>
            <StreamWorkerCount>8</StreamWorkerCount>
            <LLHLS>
              <OriginMode>true</OriginMode>
              <ChunkDuration>0.5</ChunkDuration>
              <PartHoldBack>3.0</PartHoldBack>
              <SegmentDuration>6</SegmentDuration>
              <SegmentCount>5</SegmentCount>
              <CreateDefaultPlaylist>true</CreateDefaultPlaylist>
              <CrossDomains><Url>*</Url></CrossDomains>
            </LLHLS>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>
